.wrapper {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center; }

.resume {
  display: grid;
  width: 90%;
  height: 90vh;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr 1fr;
  box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.35);
  grid-template-areas: "photo name name" "about work work" "about education education" "community skills skills-bar"; }

.circle {
  border: 4px solid #64b5f6;
  height: 10rem;
  width: 10rem;
  border-radius: 50%; }

.grid-area {
  padding: 1em 1em 1em 1em;
  border: 1px black solid; }

.name {
  grid-area: name;
  background-color: grey; }

.photo {
  grid-area: photo;
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: center; }

.about {
  grid-area: about;
  background-color: grey; }

.work {
  grid-area: work; }

.skills {
  grid-area: skills; }

.skills-bar {
  grid-area: skills-bar; }

.education {
  grid-area: education; }

.community {
  grid-area: community;
  background-color: grey; }
